[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "vendor/rres"]
	path = vendor/rres
	url = https://github.com/raysan5/rres
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui
